.Weather {
  border: 3px solid #c2dbfe;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  padding: 20px;
  margin-top: 20px;
}
.Weather h1 {
  font-size: 24px;
  margin: 1px;
}
.Weather ul {
  padding: 0;
}
.Weather li {
  list-style: none;
}

.today {
  border: 1px;
  border-radius: 10px;
  padding: 5px;
  max-width: 50%;
  background: #defcf9;
  margin: 0px 10px 10px 0px;
  font-size: 16px;
  font-weight: 350;
}

.Weather .temperature {
  font-size: 40px;
  font-weight: 600;
  max-width: 70%;
}

.Weather .units {
  font-size: 20px;
  font-weight: 300;

  position: relative;
  top: -20px;
  padding: 0 auto;
}
.forecast-date {
  font-size: 16px;
  font-weight: 400;
}
.max {
  font-size: 13px;
  font-weight: 400;
}
.min {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.5;
}
